In [2]:
!pip install sqlalchemy==1.4.46

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting sqlalchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 1.6 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-win_amd64.whl (192 kB)
     -------------------------------------- 192.2/192.2 kB 2.3 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-1.4.46

In [3]:
import os

import pandas as pd
from sqlalchemy import create_engine

import datetime

In [158]:
posgres_username = "user"
posgres_password = "password"
hostname = "79.137.206.67:5432"
database_name = "traveldata"

engine_setup = 'postgresql+psycopg2://{}:{}@{}/{}'.format(
    posgres_username,
    posgres_password,
    hostname,
    database_name
)

In [159]:
# create engine 
engine = create_engine(engine_setup)

In [12]:
data_root = "./data/"

### download_data

In [13]:
data = pd.read_json(
    os.path.join(
        data_root,
        "TA_places_with_YANDEX_addresses.json"
    ), 
    orient='split',
    encoding="utf-8"
)

In [14]:
data.head()

,place_name,place_tags,place_address,place_rating,reviews_qty,reviews,place_url,longitude,latitude,yandex_place_address,postal_code,house,street,locality,province,country
0,Набережная Pеки Тура,[Пирсы и пляжные променады],"ул. Республики, 4, Тюмень 625003 Россия",4.5,639,"[{'review_title': 'Интересно прогуляться', 're...",https://www.tripadvisor.ru/Attraction_Review-g...,65.522371,57.161884,"Россия, Тюмень, улица Республики, 4",NaN,4,улица Республики,Тюмень,Тюменская область,Россия
1,Мост Влюбленных (Пешеходный),[Мосты],"ул.Республики и ул.Ленина, Тюмень 625026 Россия",4.5,516,"[{'review_title': 'Мост влюбленных. Красота', ...",https://www.tripadvisor.ru/Attraction_Review-g...,65.533429,57.154605,"Россия, Тюмень, улица Ленина",NaN,None,улица Ленина,Тюмень,Тюменская область,Россия
2,Сквер сибирских кошек,[Парки],"ул.Первомайская, 11, Тюмень 625000 Россия",4.0,298,"[{'review_title': 'Забавно', 'review_body': 'К...",https://www.tripadvisor.ru/Attraction_Review-g...,65.536708,57.153741,"Россия, Тюмень, Первомайская улица, 11",625000.0,11,Первомайская улица,Тюмень,Тюменская область,Россия
3,Свято-троицкий мужской монастырь,[Церкви и соборы],"Коммунистическая, 10, Тюмень 625001 Россия",5.0,58,"[{'review_title': 'БЛАГОДАТНОЕ МЕСТО', 'review...",https://www.tripadvisor.ru/Attraction_Review-g...,65.512840,57.169863,"Россия, Тюмень, Коммунистическая улица, 10",625001.0,10,Коммунистическая улица,Тюмень,Тюменская область,Россия
4,Памятник бездомной собаке,"[Культурные объекты и достопримечательности, П...","ул. Орджоникидзе, 63, Тюмень 625002 Россия",4.5,93,"[{'review_title': 'Памятник-копилка', 'review_...",https://www.tripadvisor.ru/Attraction_Review-g...,65.541999,57.149357,"Россия, Тюмень, улица Орджоникидзе, 63",625000.0,63,улица Орджоникидзе,Тюмень,Тюменская область,Россия

-----

In [50]:
places = data[["place_name"]]

In [55]:
places.to_sql(
    name="places", 
    con=engine, 
    schema="dbo",
    index=False,
    method="multi",
    if_exists="append" # append - добавляет строки в существующую таблицу /
)                      # replace - дропает таблицу и записывает заново

199

----

In [134]:
tags = data[["place_tags"]]

In [135]:
tags.insert(0, "place_id", data.index+1)

In [136]:
tags.columns = ["place_id", "tag"]

In [138]:
tags = tags.explode("tag").copy()

In [139]:
tags.head(10)

   place_id                                         tag
0         1                   Пирсы и пляжные променады
1         2                                       Мосты
2         3                                       Парки
3         4                             Церкви и соборы
4         5  Культурные объекты и достопримечательности
4         5                          Памятники и статуи
5         6                             Церкви и соборы
6         7                                      Театры
7         8                                       Парки
8         9  Культурные объекты и достопримечательности

In [140]:
tags.to_sql(
    name="tags", 
    con=engine, 
    schema="dbo",
    index=False,
    method="multi",
    if_exists="replace" # append - добавляет строки в существующую таблицу /
)                      # replace - дропает таблицу и записывает заново

227

----

In [184]:
comments = data[["reviews"]]

In [185]:
comments.insert(0, "place_id", data.index+1)

In [186]:
comments = comments.explode("reviews").copy()

In [187]:
comments.columns = ["place_id", "comment"]

In [188]:
comments.to_sql(
    name="comments", 
    con=engine, 
    schema="dbo",
    index=False,
    method="multi",
    dtype={"comment": sqlalchemy.types.JSON},
    if_exists="replace" # append - добавляет строки в существующую таблицу /
)                      # replace - дропает таблицу и записывает заново

3841

----

In [172]:
place_info = data[["place_rating",	"reviews_qty"]]

In [173]:
place_info.insert(0, "place_id", data.index+1)

In [174]:
place_info.insert(1, "info_datetime", datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

In [175]:
place_info.head()

   place_id        info_datetime  place_rating  reviews_qty
0         1  2023-03-08 16:23:37           4.5          639
1         2  2023-03-08 16:23:37           4.5          516
2         3  2023-03-08 16:23:37           4.0          298
3         4  2023-03-08 16:23:37           5.0           58
4         5  2023-03-08 16:23:37           4.5           93

In [181]:
place_info.to_sql(
    name="place_info", 
    con=engine, 
    schema="dbo",
    index=False,
    method="multi",
    if_exists="replace" # append - добавляет строки в существующую таблицу /
)                      # replace - дропает таблицу и записывает заново

199

---

Дима, прогони у себя код ниже. Похоже у меня нет прав на запись в бд

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for relation coordinates

Вроде не критично, но:
- в таблице coordinates в колоке longitude пропущена буква i
- в имени таблицы addresses пропущена буква d

In [39]:
DB_URL = os.getenv("DATABASE_URL")
engine = create_engine(DB_URL)

In [40]:
coordinates = data[["longitude", "latitude"]].copy()

#  в имени колонки longitude пропущена буква
coordinates.rename({'longitude': 'longtude'} , axis = 1, inplace=True)

In [41]:
coordinates.insert(0, "place_id", data.index+1)

In [42]:
coordinates.to_sql(
    name="coordinates", 
    con=engine, 
    schema="dbo",
    index=False,
    method="multi",
    if_exists="append" # append - добавляет строки в существующую таблицу /
)                      # replace - дропает таблицу и записывает заново

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for relation coordinates

[SQL: INSERT INTO dbo.coordinates (place_id, longtude, latitude) VALUES (%(place_id_m0)s, %(longtude_m0)s, %(latitude_m0)s), (%(place_id_m1)s, %(longtude_m1)s, %(latitude_m1)s), (%(place_id_m2)s, %(longtude_m2)s, %(latitude_m2)s), (%(place_id_m3)s, %(longtude_m3)s, %(latitude_m3)s), (%(place_id_m4)s, %(longtude_m4)s, %(latitude_m4)s), (%(place_id_m5)s, %(longtude_m5)s, %(latitude_m5)s), (%(place_id_m6)s, %(longtude_m6)s, %(latitude_m6)s), (%(place_id_m7)s, %(longtude_m7)s, %(latitude_m7)s), (%(place_id_m8)s, %(longtude_m8)s, %(latitude_m8)s), (%(place_id_m9)s, %(longtude_m9)s, %(latitude_m9)s), (%(place_id_m10)s, %(longtude_m10)s, %(latitude_m10)s), (%(place_id_m11)s, %(longtude_m11)s, %(latitude_m11)s), (%(place_id_m12)s, %(longtude_m12)s, %(latitude_m12)s), (%(place_id_m13)s, %(longtude_m13)s, %(latitude_m13)s), (%(place_id_m14)s, %(longtude_m14)s, %(latitude_m14)s), (%(place_id_m15)s, %(longtude_m15)s, %(latitude_m15)s), (%(place_id_m16)s, %(longtude_m16)s, %(latitude_m16)s), (%(place_id_m17)s, %(longtude_m17)s, %(latitude_m17)s), (%(place_id_m18)s, %(longtude_m18)s, %(latitude_m18)s), (%(place_id_m19)s, %(longtude_m19)s, %(latitude_m19)s), (%(place_id_m20)s, %(longtude_m20)s, %(latitude_m20)s), (%(place_id_m21)s, %(longtude_m21)s, %(latitude_m21)s), (%(place_id_m22)s, %(longtude_m22)s, %(latitude_m22)s), (%(place_id_m23)s, %(longtude_m23)s, %(latitude_m23)s), (%(place_id_m24)s, %(longtude_m24)s, %(latitude_m24)s), (%(place_id_m25)s, %(longtude_m25)s, %(latitude_m25)s), (%(place_id_m26)s, %(longtude_m26)s, %(latitude_m26)s), (%(place_id_m27)s, %(longtude_m27)s, %(latitude_m27)s), (%(place_id_m28)s, %(longtude_m28)s, %(latitude_m28)s), (%(place_id_m29)s, %(longtude_m29)s, %(latitude_m29)s), (%(place_id_m30)s, %(longtude_m30)s, %(latitude_m30)s), (%(place_id_m31)s, %(longtude_m31)s, %(latitude_m31)s), (%(place_id_m32)s, %(longtude_m32)s, %(latitude_m32)s), (%(place_id_m33)s, %(longtude_m33)s, %(latitude_m33)s), (%(place_id_m34)s, %(longtude_m34)s, %(latitude_m34)s), (%(place_id_m35)s, %(longtude_m35)s, %(latitude_m35)s), (%(place_id_m36)s, %(longtude_m36)s, %(latitude_m36)s), (%(place_id_m37)s, %(longtude_m37)s, %(latitude_m37)s), (%(place_id_m38)s, %(longtude_m38)s, %(latitude_m38)s), (%(place_id_m39)s, %(longtude_m39)s, %(latitude_m39)s), (%(place_id_m40)s, %(longtude_m40)s, %(latitude_m40)s), (%(place_id_m41)s, %(longtude_m41)s, %(latitude_m41)s), (%(place_id_m42)s, %(longtude_m42)s, %(latitude_m42)s), (%(place_id_m43)s, %(longtude_m43)s, %(latitude_m43)s), (%(place_id_m44)s, %(longtude_m44)s, %(latitude_m44)s), (%(place_id_m45)s, %(longtude_m45)s, %(latitude_m45)s), (%(place_id_m46)s, %(longtude_m46)s, %(latitude_m46)s), (%(place_id_m47)s, %(longtude_m47)s, %(latitude_m47)s), (%(place_id_m48)s, %(longtude_m48)s, %(latitude_m48)s), (%(place_id_m49)s, %(longtude_m49)s, %(latitude_m49)s), (%(place_id_m50)s, %(longtude_m50)s, %(latitude_m50)s), (%(place_id_m51)s, %(longtude_m51)s, %(latitude_m51)s), (%(place_id_m52)s, %(longtude_m52)s, %(latitude_m52)s), (%(place_id_m53)s, %(longtude_m53)s, %(latitude_m53)s), (%(place_id_m54)s, %(longtude_m54)s, %(latitude_m54)s), (%(place_id_m55)s, %(longtude_m55)s, %(latitude_m55)s), (%(place_id_m56)s, %(longtude_m56)s, %(latitude_m56)s), (%(place_id_m57)s, %(longtude_m57)s, %(latitude_m57)s), (%(place_id_m58)s, %(longtude_m58)s, %(latitude_m58)s), (%(place_id_m59)s, %(longtude_m59)s, %(latitude_m59)s), (%(place_id_m60)s, %(longtude_m60)s, %(latitude_m60)s), (%(place_id_m61)s, %(longtude_m61)s, %(latitude_m61)s), (%(place_id_m62)s, %(longtude_m62)s, %(latitude_m62)s), (%(place_id_m63)s, %(longtude_m63)s, %(latitude_m63)s), (%(place_id_m64)s, %(longtude_m64)s, %(latitude_m64)s), (%(place_id_m65)s, %(longtude_m65)s, %(latitude_m65)s), (%(place_id_m66)s, %(longtude_m66)s, %(latitude_m66)s), (%(place_id_m67)s, %(longtude_m67)s, %(latitude_m67)s), (%(place_id_m68)s, %(longtude_m68)s, %(latitude_m68)s), (%(place_id_m69)s, %(longtude_m69)s, %(latitude_m69)s), (%(place_id_m70)s, %(longtude_m70)s, %(latitude_m70)s), (%(place_id_m71)s, %(longtude_m71)s, %(latitude_m71)s), (%(place_id_m72)s, %(longtude_m72)s, %(latitude_m72)s), (%(place_id_m73)s, %(longtude_m73)s, %(latitude_m73)s), (%(place_id_m74)s, %(longtude_m74)s, %(latitude_m74)s), (%(place_id_m75)s, %(longtude_m75)s, %(latitude_m75)s), (%(place_id_m76)s, %(longtude_m76)s, %(latitude_m76)s), (%(place_id_m77)s, %(longtude_m77)s, %(latitude_m77)s), (%(place_id_m78)s, %(longtude_m78)s, %(latitude_m78)s), (%(place_id_m79)s, %(longtude_m79)s, %(latitude_m79)s), (%(place_id_m80)s, %(longtude_m80)s, %(latitude_m80)s), (%(place_id_m81)s, %(longtude_m81)s, %(latitude_m81)s), (%(place_id_m82)s, %(longtude_m82)s, %(latitude_m82)s), (%(place_id_m83)s, %(longtude_m83)s, %(latitude_m83)s), (%(place_id_m84)s, %(longtude_m84)s, %(latitude_m84)s), (%(place_id_m85)s, %(longtude_m85)s, %(latitude_m85)s), (%(place_id_m86)s, %(longtude_m86)s, %(latitude_m86)s), (%(place_id_m87)s, %(longtude_m87)s, %(latitude_m87)s), (%(place_id_m88)s, %(longtude_m88)s, %(latitude_m88)s), (%(place_id_m89)s, %(longtude_m89)s, %(latitude_m89)s), (%(place_id_m90)s, %(longtude_m90)s, %(latitude_m90)s), (%(place_id_m91)s, %(longtude_m91)s, %(latitude_m91)s), (%(place_id_m92)s, %(longtude_m92)s, %(latitude_m92)s), (%(place_id_m93)s, %(longtude_m93)s, %(latitude_m93)s), (%(place_id_m94)s, %(longtude_m94)s, %(latitude_m94)s), (%(place_id_m95)s, %(longtude_m95)s, %(latitude_m95)s), (%(place_id_m96)s, %(longtude_m96)s, %(latitude_m96)s), (%(place_id_m97)s, %(longtude_m97)s, %(latitude_m97)s), (%(place_id_m98)s, %(longtude_m98)s, %(latitude_m98)s), (%(place_id_m99)s, %(longtude_m99)s, %(latitude_m99)s), (%(place_id_m100)s, %(longtude_m100)s, %(latitude_m100)s), (%(place_id_m101)s, %(longtude_m101)s, %(latitude_m101)s), (%(place_id_m102)s, %(longtude_m102)s, %(latitude_m102)s), (%(place_id_m103)s, %(longtude_m103)s, %(latitude_m103)s), (%(place_id_m104)s, %(longtude_m104)s, %(latitude_m104)s), (%(place_id_m105)s, %(longtude_m105)s, %(latitude_m105)s), (%(place_id_m106)s, %(longtude_m106)s, %(latitude_m106)s), (%(place_id_m107)s, %(longtude_m107)s, %(latitude_m107)s), (%(place_id_m108)s, %(longtude_m108)s, %(latitude_m108)s), (%(place_id_m109)s, %(longtude_m109)s, %(latitude_m109)s), (%(place_id_m110)s, %(longtude_m110)s, %(latitude_m110)s), (%(place_id_m111)s, %(longtude_m111)s, %(latitude_m111)s), (%(place_id_m112)s, %(longtude_m112)s, %(latitude_m112)s), (%(place_id_m113)s, %(longtude_m113)s, %(latitude_m113)s), (%(place_id_m114)s, %(longtude_m114)s, %(latitude_m114)s), (%(place_id_m115)s, %(longtude_m115)s, %(latitude_m115)s), (%(place_id_m116)s, %(longtude_m116)s, %(latitude_m116)s), (%(place_id_m117)s, %(longtude_m117)s, %(latitude_m117)s), (%(place_id_m118)s, %(longtude_m118)s, %(latitude_m118)s), (%(place_id_m119)s, %(longtude_m119)s, %(latitude_m119)s), (%(place_id_m120)s, %(longtude_m120)s, %(latitude_m120)s), (%(place_id_m121)s, %(longtude_m121)s, %(latitude_m121)s), (%(place_id_m122)s, %(longtude_m122)s, %(latitude_m122)s), (%(place_id_m123)s, %(longtude_m123)s, %(latitude_m123)s), (%(place_id_m124)s, %(longtude_m124)s, %(latitude_m124)s), (%(place_id_m125)s, %(longtude_m125)s, %(latitude_m125)s), (%(place_id_m126)s, %(longtude_m126)s, %(latitude_m126)s), (%(place_id_m127)s, %(longtude_m127)s, %(latitude_m127)s), (%(place_id_m128)s, %(longtude_m128)s, %(latitude_m128)s), (%(place_id_m129)s, %(longtude_m129)s, %(latitude_m129)s), (%(place_id_m130)s, %(longtude_m130)s, %(latitude_m130)s), (%(place_id_m131)s, %(longtude_m131)s, %(latitude_m131)s), (%(place_id_m132)s, %(longtude_m132)s, %(latitude_m132)s), (%(place_id_m133)s, %(longtude_m133)s, %(latitude_m133)s), (%(place_id_m134)s, %(longtude_m134)s, %(latitude_m134)s), (%(place_id_m135)s, %(longtude_m135)s, %(latitude_m135)s), (%(place_id_m136)s, %(longtude_m136)s, %(latitude_m136)s), (%(place_id_m137)s, %(longtude_m137)s, %(latitude_m137)s), (%(place_id_m138)s, %(longtude_m138)s, %(latitude_m138)s), (%(place_id_m139)s, %(longtude_m139)s, %(latitude_m139)s), (%(place_id_m140)s, %(longtude_m140)s, %(latitude_m140)s), (%(place_id_m141)s, %(longtude_m141)s, %(latitude_m141)s), (%(place_id_m142)s, %(longtude_m142)s, %(latitude_m142)s), (%(place_id_m143)s, %(longtude_m143)s, %(latitude_m143)s), (%(place_id_m144)s, %(longtude_m144)s, %(latitude_m144)s), (%(place_id_m145)s, %(longtude_m145)s, %(latitude_m145)s), (%(place_id_m146)s, %(longtude_m146)s, %(latitude_m146)s), (%(place_id_m147)s, %(longtude_m147)s, %(latitude_m147)s), (%(place_id_m148)s, %(longtude_m148)s, %(latitude_m148)s), (%(place_id_m149)s, %(longtude_m149)s, %(latitude_m149)s), (%(place_id_m150)s, %(longtude_m150)s, %(latitude_m150)s), (%(place_id_m151)s, %(longtude_m151)s, %(latitude_m151)s), (%(place_id_m152)s, %(longtude_m152)s, %(latitude_m152)s), (%(place_id_m153)s, %(longtude_m153)s, %(latitude_m153)s), (%(place_id_m154)s, %(longtude_m154)s, %(latitude_m154)s), (%(place_id_m155)s, %(longtude_m155)s, %(latitude_m155)s), (%(place_id_m156)s, %(longtude_m156)s, %(latitude_m156)s), (%(place_id_m157)s, %(longtude_m157)s, %(latitude_m157)s), (%(place_id_m158)s, %(longtude_m158)s, %(latitude_m158)s), (%(place_id_m159)s, %(longtude_m159)s, %(latitude_m159)s), (%(place_id_m160)s, %(longtude_m160)s, %(latitude_m160)s), (%(place_id_m161)s, %(longtude_m161)s, %(latitude_m161)s), (%(place_id_m162)s, %(longtude_m162)s, %(latitude_m162)s), (%(place_id_m163)s, %(longtude_m163)s, %(latitude_m163)s), (%(place_id_m164)s, %(longtude_m164)s, %(latitude_m164)s), (%(place_id_m165)s, %(longtude_m165)s, %(latitude_m165)s), (%(place_id_m166)s, %(longtude_m166)s, %(latitude_m166)s), (%(place_id_m167)s, %(longtude_m167)s, %(latitude_m167)s), (%(place_id_m168)s, %(longtude_m168)s, %(latitude_m168)s), (%(place_id_m169)s, %(longtude_m169)s, %(latitude_m169)s), (%(place_id_m170)s, %(longtude_m170)s, %(latitude_m170)s), (%(place_id_m171)s, %(longtude_m171)s, %(latitude_m171)s), (%(place_id_m172)s, %(longtude_m172)s, %(latitude_m172)s), (%(place_id_m173)s, %(longtude_m173)s, %(latitude_m173)s), (%(place_id_m174)s, %(longtude_m174)s, %(latitude_m174)s), (%(place_id_m175)s, %(longtude_m175)s, %(latitude_m175)s), (%(place_id_m176)s, %(longtude_m176)s, %(latitude_m176)s), (%(place_id_m177)s, %(longtude_m177)s, %(latitude_m177)s), (%(place_id_m178)s, %(longtude_m178)s, %(latitude_m178)s), (%(place_id_m179)s, %(longtude_m179)s, %(latitude_m179)s), (%(place_id_m180)s, %(longtude_m180)s, %(latitude_m180)s), (%(place_id_m181)s, %(longtude_m181)s, %(latitude_m181)s), (%(place_id_m182)s, %(longtude_m182)s, %(latitude_m182)s), (%(place_id_m183)s, %(longtude_m183)s, %(latitude_m183)s), (%(place_id_m184)s, %(longtude_m184)s, %(latitude_m184)s), (%(place_id_m185)s, %(longtude_m185)s, %(latitude_m185)s), (%(place_id_m186)s, %(longtude_m186)s, %(latitude_m186)s), (%(place_id_m187)s, %(longtude_m187)s, %(latitude_m187)s), (%(place_id_m188)s, %(longtude_m188)s, %(latitude_m188)s), (%(place_id_m189)s, %(longtude_m189)s, %(latitude_m189)s), (%(place_id_m190)s, %(longtude_m190)s, %(latitude_m190)s), (%(place_id_m191)s, %(longtude_m191)s, %(latitude_m191)s), (%(place_id_m192)s, %(longtude_m192)s, %(latitude_m192)s), (%(place_id_m193)s, %(longtude_m193)s, %(latitude_m193)s), (%(place_id_m194)s, %(longtude_m194)s, %(latitude_m194)s), (%(place_id_m195)s, %(longtude_m195)s, %(latitude_m195)s), (%(place_id_m196)s, %(longtude_m196)s, %(latitude_m196)s), (%(place_id_m197)s, %(longtude_m197)s, %(latitude_m197)s), (%(place_id_m198)s, %(longtude_m198)s, %(latitude_m198)s)]

----

Тут у меня получилось создать новую таблицу с именем "addresses".

Но не получается записать в уже существующую "adresses"

In [47]:
addresses = data[["postal_code", "house", "street", "locality", "province", "country"]]

In [44]:
addresses.insert(0, "place_id", data.index+1)

In [49]:
addresses.to_sql(
    name="addresses", 
    con=engine, 
    schema="dbo",
    index=False,
    method="multi",
    if_exists="replace" # append - добавляет строки в существующую таблицу /
)                      # replace - дропает таблицу и записывает заново

199